/*the pictures are ment to show me growing up*/
input {
    background-color: rgb(253, 178, 207);
    border: 3px solid rgb(216, 78, 119);
    color: rgb(216, 78, 119);
    font-family:'Courier New', Courier, monospace;
}
form {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    margin-left: 30%;
    margin-right: 30%;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
    background-color: rgb(216, 78, 119);
    border: 3px solid rgb(216, 78, 119);
    color: rgb(253, 178, 207);
}
h2 {
    text-align: center;
    text-decoration: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
img {
    width: 375px;
    justify-content: space-between;
}
a:visited {
    color: rgb(253, 178, 207);
}
a:link {
    color: rgb(253, 178, 207);
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color:  rgb(216, 78, 119);
    height: 50px;
    color: rgb(253, 178, 207);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1 {
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 45px;
}
header {
    text-align: center;
    text-decoration: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 85px;
}
body {
    background-color: rgb(253, 178, 207);
    color: rgb(216, 78, 119);
}