/*I already had a resume made on google docs so I just did my very best to recreate it on here also I used an app to help 
    me make the resume so thats why it sounds so sifisticated*/
#contactinfo {
    text-align: center;
}
h4 {
    text-decoration: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
p {
    font-family:'Courier New', Courier, monospace;
}
h2 {
    text-decoration: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 45px;
}
h1 {
    text-align: center;
    text-decoration: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 45px;
}
hr {
    border: none;
    border-top: 3px solid rgb(216, 78, 119);
}
a:visited {
    color: rgb(253, 178, 207);
}
a:link {
    color: rgb(253, 178, 207);
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(216, 78, 119);
    height: 50px;
    color: rgb(253, 178, 207);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header {
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 85px;
}
body {
    background-color: rgb(253, 178, 207);
    color: rgb(216, 78, 119);
}